%section#fh5co-home{"data-section" => "home", "data-stellar-background-ratio" => "0.5", :style => "background-image: url(#{asset_path 'full_image_3.jpg'});"}
  .gradient
  .container
    .text-wrap
      .text-inner
        .row
          .col-md-8.col-md-offset-2.text-center
            %h1.to-animate
              Bienvenido a
              %span Alboomaker
            %h2.to-animate
              Empieza tu proyecto descargándote nuestro programa gratuito
              %br/
              %p Selecciona tu sistema operativo. Recuerda que también puedes hacerlo desde esta misma web sin descargarte el programa
            .call-to-action
              %a.download.to-animate{:href => "https://s3.amazonaws.com/printoria-web/albumaker/albumaker.exe"}
                %i.icon-download
                WINDOWS
              %a.download.to-animate{:href => "https://s3.amazonaws.com/printoria-web/albumaker/albumaker.exe"}
                %i.icon-download
                MAC
%section#fh5co-blog{"data-section" => "products"}
  .fh5co-blog
    .container
      .row
        .col-md-12.section-heading.text-center
          %h2.to-animate
            %span Elige tu álbum
          .row
            .col-md-8.col-md-offset-2.subtext
              %h3.to-animate Selecciona el formato que más te guste y crea fácilmente tu álbum de fotos digital totalmente personalizado y con calidad Premium. Inmortaliza tus mejores momentos y consérvalos para siempre con Alboomaker.
      .row
        - @products.each do |product|
          .col-md-6.to-animate.blog
            .blog-grid{:style => "background-image: url(images/full_image_5.jpg);"}
            - href = CGI::parse(URI.parse(Product.find_by_code("#{product.code}")&.online_url).query)["id"].first
            %a.desc{onclick: "tpxHighLevelCreateProjectControl('id=#{href}')", target: "_blank" }
              .desc-grid
                %h3= product.name.humanize
              .reading
                %i.icon-arrow-right2


%section#fh5co-services.fh5co-bg-color{"data-section" => "howto"}
  .fh5co-services
    .container
      .row
        .col-md-12.section-heading.text-center
          %h2.to-animate
            %span ¿Cómo lo hacemos?
      .row
        .col-md-3.text-center
          .box-services
            .icon.to-animate
              %span
                %i.icon-chemistry
            .fh5co-post.to-animate
              %h3 Calidad premium
              %p
                Todos nuestros álbumes tienen calidad fotográfica y tapa dura 100%
                personalizable.  Al ser ensamblados artesanalmente tienen gran durabilidad.
                Las guardas que utilizamos son de papel reciclado. Así, ponemos nuestro
                granito de arena.
        .col-md-3.text-center
          .box-services
            .icon.to-animate
              %span
                %i.icon-energy
            .fh5co-post.to-animate
              %h3 Tecnología Lay-Flat
              %p
                Con esta tecnología, las dos caras del álbum se unen sin dehar marca alguna. Tus fotos
                panorámicas y a doble página se verán perfectas.
        .col-md-3.text-center
          .box-services
            .icon.to-animate
              %span
                %i.icon-trophy
            .fh5co-post.to-animate
              %h3 Sin publicidad
              %p
                Queremos que recibas el álbum igual que lo diseñaste. No llevará publicidad
                ni logotipo.  Eso sí, ¡nos encantaría que nos recomendárais!
        .col-md-3.text-center
          .box-services
            .icon.to-animate
              %span
                %i.icon-paper-plane
            .fh5co-post.to-animate
              %h3 Diseño
              %p
                Todos nuestros álbumes tienen plantillas prediseñadas para que sólo tengas que
                añadir tus fotos y textos. Puedes modificarlas y mejorarlas a tu gusto con todos los
                recursos que encontrarás. Te lo pasarás pipa eligiendo marcos, stickers, máscaras y
                tipografías. Además, si tienes fotos oscuras o que quieras retocar, con nosotros podrás
                hacerlo a la vez que diseñas tu álbum.

%section#fh5co-options{"data-section" => "options"}
  .fh5co-options
    .container
      .core-features
        .grid2.to-animate{:style => "background-image: url(#{asset_path 'full_image_5.jpg'});"}
        .grid2
          .core-f
            .section-heading
              %h2.to-animate Opciones
              .row
                .col-md-6
                  .core
                    %i.icon-cloud-download.to-animate-2
                    .fh5co-post.to-animate
                      %h3 Páginas
                      %p
                        Para que pongas todas las fotos que quieras, en nuestros
                        formatos, excepto en el A5, puedes añadir hasta 120 páginas.
                  .core
                    %i.icon-laptop.to-animate-2
                    .fh5co-post.to-animate
                      %h3 Plastificado portada
                      %p
                        Para que pongas todas las fotos que quieras, en nuestros
                        formatos, excepto en el A5, puedes añadir hasta 120 páginas.
                  .core
                    %i.icon-hand-paper-o.to-animate-2
                    .fh5co-post.to-animate
                      %h3 Plastificado páginas
                      %p
                        También tienes la opción de plastificar las páginas interiores
                        en brillo o en mate.
                .col-md-6
                  .core
                    %i.icon-lightbulb-o.to-animate-2
                    .fh5co-post.to-animate
                      %h3 Envío
                      %p Enviamos a Península, Baleares, Islas Canarias, Ceuta y Melilla.
                  .core
                    %i.icon-trophy.to-animate-2
                    .fh5co-post.to-animate
                      %h3 Producción rápida
                      %p
                        Si quieres que tu pedido legue cuanto antes, reduce los
                        días de producción a 3 laborables con esta opción.
                  .core
                    %i.icon-columns2.to-animate-2
                    .fh5co-post.to-animate
                      %h3 Grandes cantidades
                      %p
                        Si quieres hacer un pedido superior 20 unidades, ponte en contacto con
                        nosotros a través del formulario de atención al cliente.

%section#fh5co-explore.fh5co-bg-color{"data-section" => "explore"}
  .container
    .row
      .col-md-12.section-heading.text-center
        %h2.to-animate
          %span Inspírate
  .fh5co-project
    .container-fluid
      .row
        .col-md-4.text-center
          .project-grid.to-animate-2{:style => "background-image: url(#{asset_path 'project-1.jpg'});"}
            .desc
              %h3
                %a{:href => "#"} Work Title Here
              %span Web Design
              %p.download
                %a{:href => "#"}
                  %i.icon-download
              %p.love
                %a{:href => "#"}
                  %i.icon-heart-o
          .row
            .col-md-6
              .project-grid.to-animate-2{:style => "background-image: url(#{asset_path 'project-2.jpg'});"}
                .desc
                  %h3
                    %a{:href => "#"} Work Title Here
                  %span Web Design
                  %p.download
                    %a{:href => "#"}
                      %i.icon-download
                  %p.love
                    %a{:href => "#"}
                      %i.icon-heart-o

%section#fh5co-pricing{"data-section" => "pricing"}
  .fh5co-pricing
    .container
      .row
        .col-md-12.section-heading.text-center
          %h2.to-animate
            %span Nuestros precios
      .row{:style => "margin-bottom: 30px;"}
        .col-md-3.col-sm-6
          .price-box.popular
            .popular-text Apaisado A5
            %h2.pricing-plan desde
            .price
              %sup.currency> €
              30
              / %small /mo
            %p Los precios corresponden a sin plastificar/plast. brillo/plast. mate
            %hr/
            %ul.pricing-info
              %li 20 págs. 30€/31,40€/31,80€
              %li 40 págs. 40,59€/42,48€/43,02€
            %p
              %a.btn.btn-primary{:href => "#"} Empezar
        .col-md-3.col-sm-6
          .price-box.popular
            .popular-text Álbum 20x20
            %h2.pricing-plan desde
            .price
              %sup.currency> €
              34
            %p Los precios corresponden a sin plastificar/plast. brillo/plast. mate
            %hr/
            %ul.pricing-info
              %li 20 págs. 34€/35,59€/36,04€
              %li 40 págs. 47,73€/49,95€/50,59€
              %li 60 págs. 61,36€/64,23€/65,05€
              %li 80 págs. 77,50€/81,12€/82,15€
              %li 100 págs. 93,64€/98,01€/99,25€
              %li 120 págs. 109,77€/114,90€/116,36€
            %p
              %a.btn.btn-primary{:href => "#"} Empezar
        .clearfix.visible-sm-block
        .col-md-3.col-sm-6.to-animate
          .price-box.popular
            .popular-text Álbum A4
            %h2.pricing-plan desde
            .price
              %sup.currency> €
              35,60
            %p Los precios corresponden a sin plastificar/plast. brillo/plast. mate
            %hr/
            %ul.pricing-info
              %li 20 págs. 35,60€/37,26€/37,74€
              %li 40 págs. 49,55€/51,86€/52,52€
              %li 60 págs. 63,18€/66,13€/66,97€
              %li 80 págs. 79,50€/83,21€/84,27€
              %li 100 págs. 95,82€/100,29€/101,57€
              %li 120 págs. 112,14€/117,37€/118,86€
            %p
              %a.btn.btn-primary{:href => "#"} Empezar
        .col-md-3.col-sm-6.to-animate
          .price-box.popular
            .popular-text Álbum A4 +
            %h2.pricing-plan desde
            .price
              %sup.currency> €
              39,71
            %p Los precios corresponden a sin plastificar/plast. brillo/plast. mate
            %hr/
            %ul.pricing-info
              %li 20 págs. 39,71€/41,57€/42,10€
              %li 40 págs. 55,94€/58,55€/59,29€
              %li 60 págs. 71,56€/74,90€/75,86€
              %li 80 págs. 87,19€/91,26€/92,42€
              %li 100 págs. 102,81€/107,61€/108,98€
              %li 120 págs. 118,44€/123,96€/125,54€
            %p
              %a.btn.btn-primary{:href => "#"} Empezar

      .row
        .col-md-3.col-sm-6
          .price-box.popular
            .popular-text Álbum 30x30
            %h2.pricing-plan desde
            .price
              %sup.currency> €
              45,43
              / %small /mo
            %p Los precios corresponden a sin plastificar/plast. brillo/plast. mate
            %hr/
            %ul.pricing-info
              %li 20 págs. 45,43€/47,55€/48,15€
              %li 40 págs. 62,19€/65,09€/65,92€
              %li 60 págs. 77,81€/81,44€/82,48€
              %li 80 págs. 93,44€/97,80€/99,04€
              %li 100 págs. 109,06€/114,15€/115,61€
              %li 120 págs. 124,69€/130,51€/132,17€
            %p
              %a.btn.btn-primary{:href => "#"} Empezar

        .col-md-3.col-sm-6
          .price-box.popular
            .popular-text Envío y Extras
            %p Los precios corresponden a sin plastificar/plast. brillo/plast. mate
            %hr/
            %ul.pricing-info
              %li 20 págs. 45,43€/47,55€/48,15€
              %li 40 págs. 62,19€/65,09€/65,92€
              %li 60 págs. 77,81€/81,44€/82,48€
              %li 80 págs. 93,44€/97,80€/99,04€
              %li 100 págs. 109,06€/114,15€/115,61€
              %li 120 págs. 124,69€/130,51€/132,17€
            %p
              %a.btn.btn-primary{:href => "#"} Empezar

%section#fh5co-faq.fh5co-bg-color{"data-section" => "help"}
  .fh5co-faq
    .container
      .row
        .col-md-12.section-heading.text-center
          %h2.to-animate
            %span Ayuda
          .row
            .col-md-8.col-md-offset-2.subtext
              %h3.to-animate Aquí encontrarás todo lo que necesitas para empezar y resolverás las dudas más frecuentes.
      .row
        .col-md-6
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 What is Twist?
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 I have technical problem, who do I email?
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 How do I use Twist features?
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
        .col-md-6
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 What language are available?
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 Can I have a username that is already taken?
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 Is Twist free?
              %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.