%section#fh5co-home{"data-section" => "home", "data-stellar-background-ratio" => "0.5", :style => "background-image: url(#{asset_path 'cover.jpg'});"}
  .gradient
  .container
    .text-wrap
      .text-inner
        .row
          .col-md-8.col-md-offset-2.text-center
            %h1.to-animate
              Bienvenido a
              %span Alboomaker
            %h2.to-animate
              Empieza tu proyecto descargándote nuestro programa gratuito
              %br/
              %p Selecciona tu sistema operativo. Recuerda que también puedes hacerlo desde esta misma web sin descargarte el programa
            .call-to-action
              %a.download.to-animate{:href => "https://s3.amazonaws.com/alboomaker-web/alboomaker.exe"}
                %i.icon-download
                WINDOWS
              %a.download.to-animate{:href => "https://s3.amazonaws.com/alboomaker-web/alboomaker.dmg"}
                %i.icon-download
                MAC
%section#fh5co-blog{"data-section" => "products"}
  .fh5co-blog
    .container
      .row
        .col-md-12.section-heading.text-center
          %h2.to-animate
            =image_tag ('icon.png')
            %span Elige tu álbum
          .row
            .col-md-8.col-md-offset-2.subtext
              %h3.to-animate Selecciona el formato que más te guste y crea fácilmente tu álbum de fotos digital totalmente personalizado y con calidad Premium. Inmortaliza tus mejores momentos y consérvalos para siempre con Alboomaker.
      .row
        .col-md-6.to-animate.blog
          .blog-grid{:style => "background-image: url(#{asset_path 'PB_AP_A5.jpg'});"}
          - href = CGI::parse(URI.parse(Product.find_by_code("PB_AP_A5")&.online_url).query)["id"].first
          %a.desc{onclick: "tpxHighLevelCreateProjectControl('id=#{href}')", target: "_blank" }
            .desc-grid
              %h3 Album Apaisado A5
            .reading
              %i.icon-arrow-right2
        .col-md-6.to-animate.blog
          .blog-grid{:style => "background-image: url(#{asset_path 'PB_A4.jpg'});"}
          - href = CGI::parse(URI.parse(Product.find_by_code("PB_A4")&.online_url).query)["id"].first
          %a.desc{onclick: "tpxHighLevelCreateProjectControl('id=#{href}')", target: "_blank" }
            .desc-grid
              %h3 Album A4
            .reading
              %i.icon-arrow-right2
      .row
        .col-md-6.to-animate.blog
          .blog-grid{:style => "background-image: url(#{asset_path 'PB_20X20.jpg'});"}
          - href = CGI::parse(URI.parse(Product.find_by_code("PB_20X20")&.online_url).query)["id"].first
          %a.desc{onclick: "tpxHighLevelCreateProjectControl('id=#{href}')", target: "_blank" }
            .desc-grid
              %h3 Album 20x20
            .reading
              %i.icon-arrow-right2
        .col-md-6.to-animate.blog
          .blog-grid{:style => "background-image: url(#{asset_path 'PB_AP_A4.jpg'});"}
          - href = CGI::parse(URI.parse(Product.find_by_code("PB_AP_A4")&.online_url).query)["id"].first
          %a.desc{onclick: "tpxHighLevelCreateProjectControl('id=#{href}')", target: "_blank" }
            .desc-grid
              %h3 Album Apaisado A4+
            .reading
              %i.icon-arrow-right2
      .row
        .col-md-6.to-animate.blog
          .blog-grid{:style => "background-image: url(#{asset_path 'PB_30X30.jpg'});"}
          - href = CGI::parse(URI.parse(Product.find_by_code("PB_30X30")&.online_url).query)["id"].first
          %a.desc{onclick: "tpxHighLevelCreateProjectControl('id=#{href}')", target: "_blank" }
            .desc-grid
              %h3 Album 30x30
            .reading
              %i.icon-arrow-right2


%section#fh5co-services.fh5co-bg-color{"data-section" => "howto"}
  .fh5co-services
    .container
      .row
        .col-md-12.section-heading.text-center
          %h2.to-animate
            =image_tag ('icon.png')
            %span ¿Cómo lo hacemos?
      .row
        .col-md-3.text-center
          .box-services
            .icon.to-animate
              %span
                %i.icon-trophy
            .fh5co-post.to-animate
              %h3 Calidad premium
              %p
                Todos nuestros álbumes tienen calidad fotográfica y tapa dura 100%
                personalizable.  Al ser ensamblados artesanalmente tienen gran durabilidad.
                Las guardas que utilizamos son de papel reciclado. Así, ponemos nuestro
                granito de arena.
        .col-md-3.text-center
          .box-services
            .icon.to-animate
              %span
                / %i.icon-screen-desktop
                %i= image_tag 'layflat.png'
            .fh5co-post.to-animate
              %h3 Tecnología Lay-Flat
              %p
                Con esta tecnología, las dos caras del álbum se unen sin dejar marca alguna. Tus fotos
                panorámicas y a doble página se verán perfectas.
        .col-md-3.text-center
          .box-services
            .icon.to-animate
              %span
                %i.icon-hand-paper-o
            .fh5co-post.to-animate
              %h3 Sin publicidad
              %p
                Queremos que recibas el álbum igual que lo diseñaste. No llevará publicidad
                ni logotipo.  Eso sí, ¡nos encantaría que nos recomendárais!
        .col-md-3.text-center
          .box-services
            .icon.to-animate
              %span
                %i.icon-lightbulb-o
            .fh5co-post.to-animate
              %h3 Diseño
              %p
                Todos nuestros álbumes tienen plantillas prediseñadas para que sólo tengas que
                añadir tus fotos y textos. Puedes modificarlas y mejorarlas a tu gusto con todos los
                recursos que encontrarás. Te lo pasarás pipa eligiendo marcos, stickers, máscaras y
                tipografías. Además, si tienes fotos oscuras o que quieras retocar, con nosotros podrás
                hacerlo a la vez que diseñas tu álbum.

%section#fh5co-options{"data-section" => "options"}
  .fh5co-options
    .container
      .core-features
        .grid2.to-animate{:style => "background-image: url(#{asset_path 'opciones.jpg'});"}
        .grid2
          .core-f
            .section-heading
              %h2.to-animate Opciones
              .row
                .col-md-6
                  .core
                    .to-animate-2= image_tag 'paginas.png'
                    .fh5co-post.to-animate
                      %h3 Páginas
                      %p
                        Para que pongas todas las fotos que quieras, en nuestros
                        formatos, excepto en el A5, puedes añadir hasta 120 páginas.
                  .core
                    .to-animate-2= image_tag 'portada.png'
                    .fh5co-post.to-animate
                      %h3 Plastificado portada
                      %p
                        Podrás elegir entre plastificado brillo (incluido en el precio)
                        o mate para tu portada. Las dos tienen un acabado top.
                  .core
                    .to-animate-2= image_tag 'plastificado.png'
                    .fh5co-post.to-animate
                      %h3 Plastificado páginas
                      %p
                        También tienes la opción de plastificar las páginas interiores
                        en brillo o en mate.
                .col-md-6
                  .core
                    %i.icon-paper-plane.to-animate-2
                    .fh5co-post.to-animate
                      %h3 Envío
                      %p Enviamos a Península y Baleares.
                  .core
                    %i.icon-energy.to-animate-2
                    .fh5co-post.to-animate
                      %h3 Producción rápida
                      %p
                        Si quieres que tu pedido legue cuanto antes, reduce los
                        días de producción a 3 laborables con esta opción.
                  .core
                    .to-animate-2= image_tag 'cantidades.png'
                    .fh5co-post.to-animate
                      %h3 Grandes cantidades
                      %p
                        Si quieres hacer un pedido superior 20 unidades, ponte en contacto con
                        nosotros a través del formulario de atención al cliente.

%section#fh5co-explore.fh5co-bg-color{"data-section" => "explore"}
  .container
    .row
      .col-md-12.section-heading.text-center
        %h2.to-animate
          =image_tag ('icon.png')
          %span Inspírate
  .fh5co-project
    .container-fluid
      .row
        .col-md-4.text-center
          .project-grid.to-animate-2{:style => "background-image: url(#{asset_path 'project-1.jpg'});"}
            .desc
              %h3
                %a{:href => "#"} FOTOS DE VERANO
              %span ¿Qué son las mejores?
          .row
            .col-md-6
              .project-grid.to-animate-2{:style => "background-image: url(#{asset_path 'project-2.jpg'});"}
                .desc
                  %h3
                    %a{:href => "#"}
                  %span
            .col-md-6
              .project-grid.to-animate-2{:style => "background-image: url(#{asset_path 'project-5.jpg'});"}
                .desc
                  %h3
                    %a{:href => "#"}
                  %span
          .project-grid.to-animate-2{:style => "background-image: url(#{asset_path 'project-9.jpg'});"}
            .desc
              %h3
                %a{:href => "#"} ALBUM A4
              %span Desde 35,60€
        .col-md-4.text-center
          .project-grid.to-animate-2{:style => "background-image: url(#{asset_path 'project-4.jpg'});"}
            .desc
              %h3
                %a{:href => "#"} ALBUM APAISADO A5
              %span Desde 30€
          .project-grid.to-animate-2{:style => "background-image: url(#{asset_path 'project-3.jpg'});"}
            .desc
              %h3
                %a{:href => "#"} CHEFCHAOUEN
              %span Marruecos

          .row
            .col-md-6
              .project-grid.to-animate-2{:style => "background-image: url(#{asset_path 'project-10.jpg'});"}
                .desc
                  %h3
                    %a{:href => "#"} POLAROID LAND 95
                  %span Año 1947

            .col-md-6
              .project-grid.to-animate-2{:style => "background-image: url(#{asset_path 'project-11.jpg'});"}
                .desc
                  %h3
                    %a{:href => "#"}
                  %span
        .col-md-4.text-center
          .row
            .col-md-6
              .project-grid.to-animate-2{:style => "background-image: url(#{asset_path 'project-6.jpg'});"}
                .desc
                  %h3
                    %a{:href => "#"} ¿COMIDA O FOTOS?
                  %span ¿O las dos?
            .col-md-6
              .project-grid.to-animate-2{:style => "background-image: url(#{asset_path 'project-7.jpg'});"}
                .desc
                  %h3
                    %a{:href => "#"}
                  %span
          .project-grid.to-animate-2{:style => "background-image: url(#{asset_path 'project-8.jpg'});"}
            .desc
              %h3
                %a{:href => "#"} ALBUM 20x20
              %span Desde 34€
          .project-grid.to-animate-2{:style => "background-image: url(#{asset_path 'project-12.jpg'});"}
            .desc
              %h3
                %a{:href => "#"} ARRIESGATE CON FOTOS B&W
              %span ¿Lo harías?


%section#fh5co-pricing{"data-section" => "pricing"}
  .fh5co-pricing
    .container
      .row
        .col-md-12.section-heading.text-center
          %h2.to-animate
            =image_tag ('icon.png')
            %span Nuestros precios
      .row{:style => "margin-bottom: 30px;"}
        .col-md-3.col-sm-6
          .price-box.popular
            .popular-text Apaisado A5
            %h2.pricing-plan desde
            .price
              %sup.currency> €
              30
              / %small /mo
            %p Los precios corresponden a sin plastificar/plast. brillo/plast. mate
            %hr/
            %ul.pricing-info
              %li 20 págs. 30€/31,40€/31,80€
              %li 40 págs. 40,59€/42,48€/43,02€
              %li &nbsp;
              %li &nbsp;
              %li &nbsp;
              %li &nbsp;
            %p
              - href = CGI::parse(URI.parse(Product.find_by_code("PB_AP_A5")&.online_url).query)["id"].first
              %a.desc{onclick: "tpxHighLevelCreateProjectControl('id=#{href}')", target: "_blank" }
              %a.btn.btn-primary{:href => "#"} Empezar
        .col-md-3.col-sm-6
          .price-box.popular
            .popular-text Álbum 20x20
            %h2.pricing-plan desde
            .price
              %sup.currency> €
              34
            %p Los precios corresponden a sin plastificar/plast. brillo/plast. mate
            %hr/
            %ul.pricing-info
              %li 20 págs. 34€/35,59€/36,04€
              %li 40 págs. 47,73€/49,95€/50,59€
              %li 60 págs. 61,36€/64,23€/65,05€
              %li 80 págs. 77,50€/81,12€/82,15€
              %li 100 págs. 93,64€/98,01€/99,25€
              %li 120 págs. 109,77€/114,90€/116,36€
            %p
              - href = CGI::parse(URI.parse(Product.find_by_code("PB_20X20")&.online_url).query)["id"].first
              %a.desc{onclick: "tpxHighLevelCreateProjectControl('id=#{href}')", target: "_blank" }
              %a.btn.btn-primary{:href => "#"} Empezar
        .clearfix.visible-sm-block
        .col-md-3.col-sm-6.to-animate
          .price-box.popular
            .popular-text Álbum A4
            %h2.pricing-plan desde
            .price
              %sup.currency> €
              35,60
            %p Los precios corresponden a sin plastificar/plast. brillo/plast. mate
            %hr/
            %ul.pricing-info
              %li 20 págs. 35,60€/37,26€/37,74€
              %li 40 págs. 49,55€/51,86€/52,52€
              %li 60 págs. 63,18€/66,13€/66,97€
              %li 80 págs. 79,50€/83,21€/84,27€
              %li 100 págs. 95,82€/100,29€/101,57€
              %li 120 págs. 112,14€/117,37€/118,86€
            %p
              - href = CGI::parse(URI.parse(Product.find_by_code("PB_A4")&.online_url).query)["id"].first
              %a.desc{onclick: "tpxHighLevelCreateProjectControl('id=#{href}')", target: "_blank" }
              %a.btn.btn-primary{:href => "#"} Empezar
        .col-md-3.col-sm-6.to-animate
          .price-box.popular
            .popular-text Álbum A4 +
            %h2.pricing-plan desde
            .price
              %sup.currency> €
              39,71
            %p Los precios corresponden a sin plastificar/plast. brillo/plast. mate
            %hr/
            %ul.pricing-info
              %li 20 págs. 39,71€/41,57€/42,10€
              %li 40 págs. 55,94€/58,55€/59,29€
              %li 60 págs. 71,56€/74,90€/75,86€
              %li 80 págs. 87,19€/91,26€/92,42€
              %li 100 págs. 102,81€/107,61€/108,98€
              %li 120 págs. 118,44€/123,96€/125,54€
            %p
              - href = CGI::parse(URI.parse(Product.find_by_code("PB_AP_A4")&.online_url).query)["id"].first
              %a.desc{onclick: "tpxHighLevelCreateProjectControl('id=#{href}')", target: "_blank" }
              %a.btn.btn-primary{:href => "#"} Empezar

      .row
        .col-md-3.col-sm-6
          .price-box.popular
            .popular-text Álbum 30x30
            %h2.pricing-plan desde
            .price
              %sup.currency> €
              45,43
              / %small /mo
            %p Los precios corresponden a sin plastificar/plast. brillo/plast. mate
            %hr/
            %ul.pricing-info
              %li 20 págs. 45,43€/47,55€/48,15€
              %li 40 págs. 62,19€/65,09€/65,92€
              %li 60 págs. 77,81€/81,44€/82,48€
              %li 80 págs. 93,44€/97,80€/99,04€
              %li 100 págs. 109,06€/114,15€/115,61€
              %li 120 págs. 124,69€/130,51€/132,17€
            %p
              - href = CGI::parse(URI.parse(Product.find_by_code("PB_30X30")&.online_url).query)["id"].first
              %a.desc{onclick: "tpxHighLevelCreateProjectControl('id=#{href}')", target: "_blank" }
              %a.btn.btn-primary{:href => "#"} Empezar

        .col-md-3.col-sm-6
          .price-box.popular
            .popular-text Envío y Extras
            %p Los precios corresponden a envío Península/ Baleares / Unidad Extra
            %hr/
            %ul.pricing-info
              %li.title Apaisado A5
              %li 6,90€/8,90€/+3€
              %li.title Álbum 20x20
              %li 7,90€/9,90€/+3€
              %li.title Álbum A4
              %li 7,90€/9,90€/+3€
              %li.title Apaisado A4+
              %li 8,90€/10,90€/+3€
              %li.title Álbum 30x30
              %li 8,90€/10,90€/+3€
              %li.title Producción Rápida
              %li 2,90€
              %li.title Portada Mate
              %li 0,90€

%section#fh5co-faq.fh5co-bg-color{"data-section" => "help"}
  .fh5co-faq
    .container
      .row
        .col-md-12.section-heading.text-center
          %h2.to-animate
            =image_tag ('icon.png')
            %span Ayuda
          .row
            .col-md-8.col-md-offset-2.subtext
              %h3.to-animate Aquí encontrarás todo lo que necesitas para empezar y resolverás las dudas más frecuentes.
      .row
        .col-md-4
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 ¿Qué tengo que hacer para iniciar mi proyecto?
              %p
                Lo primero que debes hacer para iniciar el proyecto de tu álbum es descargarte nuestro programa Alboomaker desde la sección "Descarga" de uestra página web, o bien realizar tu proyecto de manera online. Para ello, elige el producto que deseas en nuestra web y haz click sobre él para acceder al diseñador online.
                ¡Es hora de la magia! Elige fondos, plantillas y juega con tus fotos hasta que el resultado final sea el que buscas.
                Una vez terminado, puedes iniciar el proceso de compra a través de la función del carrito verde de la compra.
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 ¿Dónde se guardan mis proyectos online?
              %p
                Mientras usas nuestros editor online, puedes dejar un proyecto a medias, guardarlo, y retomarlo días más tarde.
                Para acceder a esos proyectos online, debes iniciar sesión en el menú superior de la web.
                Una vez iniciada sesión, haz click en la sección "Mis proyectos" y se desplegará una lista con todos los álbumes guardados pendientes de terminar.
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 Tengo problemas con la conexión en la carga de mi proyecto
              %p
                Generalmente, este problema se debe a que hay algún programa que está impidiendo la conexión de nuestro programa Alboomaker a Internet.
                Los sospechosos más habituales son el antivirus, firewall (cortafuegos) o prosees (utilizados en muchas oficinas y puestos de trabajo para limitar el acceso a internet).
                Te recomendamos desactivar todos estos programas que podrían estar causando el problema antes de volver a probar.
        .col-md-4
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 ¿Dónde introduzco mi cupón promocional?
              %p
                Los cupones promocionales se utilizan en el último paso del proceso de compra, justo antes de introducir los datos de la tarjeta. Asegúrate de pulsar el botón “canjear” para que el cupón tenga efecto sobre el precio.
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 ¿Cuánto va a tardar mi pedido?
              %p
                En Alboomaker intentamos finalizar todos nuestros pedidos lo más rápidamente posible.
                Entre 5 y 7 días suele ser lo normal pero en algunas ocasiones especiales (como en determinadas promociones o Navidades) el plazo puede alargarse.
                En estos supuestos, lo mejor es asegurarse leyendo la información de la oferta o las actualizaciones de nuestra web.
                Los plazos se cuentan por días laborables desde que recibimos tus archivos para comenzar la producción de tu pedido.
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 No me ha llegado email de confirmación de mi pedido
              %p
                No te preocupes, a veces los email de confirmación fallan. Normalmente es debido a filtros para spam por lo que siempre es aconsejable chequear la carpeta de correo no deseado.
                Si aún así no has recibido confirmación ten en cuenta que la mayoría de las veces, si la subida de tu pedido finalizó correctamente y no se te permite volver a enviar el proyecto, lo habremos recibido bien.
                De todos modos, estaremos encantados de revisar tu pedido si tienes dudas.
        .col-md-4
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 El importe descontado por el cupón no es correcto
              %p
                Puede deberse a varios motivos. Asegúrate de que tu álbum tiene las páginas correctas y es el tipo de producto adecuado para esa promoción. También es necesario asegurarse de haber pulsado el botón "canjear".
                Si tras hacer los cambios oportunos el importe descontado sigue sin ser correcto, por favor, ponte en contacto con nosotros escribiendo a hello@alboomaker.com e indicando el código del cupón.
                Es importante que no sigas adelante con la compra hasta que no se solucione el problema.
            %i.icon-check2
            .desc
              %h3 Al introducir mi cupón aparece el aviso "cupón no válido"
              %p
                Por favor, comprueba que has copiado correctamente le código del cupón y que tu proyecto tiene las características que cubre la promoción (número de páginas, tipo de producto, etc.)
                Si el problema persiste, ponte en contacto con nosotros y envíanos el código del cupón a hello@alboomaker.com
          .box-faq.to-animate-2
            %i.icon-check2
            .desc
              %h3 ¿Se puede canjear más de un cupón en un mismo pedido?
              %p
                Los cupones no son acumulables y solo se puede canjear un cupón por pedido. Las ofertas tampoco son acumulables, no siendo posible canjear un cupón para adquirir otra oferta.