!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title Alboomaker
    = csrf_meta_tags
    / = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    / = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body{onload: "tpxHighLevelBasketInitialise()"}
    %header#fh5co-header{:role => "banner"}
      .fluid-container
        %nav.navbar.navbar-default
          .navbar-header
            / Mobile Toggle Menu Button
            %a.js-fh5co-nav-toggle.fh5co-nav-toggle{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :href => "#"}
              %i
            = link_to root_url do
              .navbar-brand
          #navbar.navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              %li.active
                %a{"data-nav-section" => "home"}
                  %span Descarga
              %li.active
                %a{"data-nav-section" => "products"}
                  %span Álbumes
              %li
                %a{"data-nav-section" => "howto"}
                  %span ¿Cómo lo hacemos?
              %li
                %a{"data-nav-section" => "options"}
                  %span Opciones
              %li
                %a{"data-nav-section" => "explore"}
                  %span Inspírate
              %li
                %a{"data-nav-section" => "pricing"}
                  %span Precios
              %li
                %a{"data-nav-section" => "help"}
                  %span Ayuda
              %li.call-to-action
                %a.sign-up#signIn{:href => "#", :onclick => "tpxHighLevelSignInInitControl()"} Login
              %li.call-to-action
                %a.sign-up#register{:href => "#", :onclick => "tpxHighLevelRegisterInitControl()"} Mi cuenta
              %li#projectslinkli
                %a#projectslist{:href => "#", :onclick => "tpxMyProjectsOnClick()"} Mis Proyectos
              %li#basketlinkli
                %a#basketlink{:href => "#", :onclick => "tpxBasketOnClick()"}
                  %i.fa.fa-shopping-cart


    .container
      #shoppigncartcontents.shopping-cart
        .shopping-cart-header
          %i.fa.fa-times#close-cart
          %i.fa.fa-shopping-cart.cart-icon
          %span#basketcountbadgeinner.badge 0
          %a#emptyBasketButton.emptycart{:href => "#", :onclick => "tpxHighLevelEmptyBasketControl()"} Empty Basket
        / end shopping-cart-header
        #basketItemListContainer.shopping-cart-items-container
          %ul#basketItemList.shopping-cart-items
          #loadingspinnercontainer.loadingspinnercontainer
            %i#loadingspinner.fa.fa-spinner.fa-pulse.loading-spinner
        %a#checkoutbutton.button{:href => "#", :onclick => "tpxHighLevelCheckoutControl()"} Checkout
      / end shopping-cart
    / end container
    .container
      #projectlistcontents.projectlist
        %i.fa.fa-times#close-cart
        #projectsItemListContainer.projectlist-items-container
          %ul#projectsItemList.shopping-cart-items
          #projectloadingspinnercontainer.loadingspinnercontainer
            %i#projectloadingspinner.fa.fa-spinner.fa-pulse.loading-spinner
            %i.fa.fa-times#close-proj
        / end shopping-cart
      / end container

    = yield

    #fh5co-footer{:role => "contentinfo"}
      .container
        .row
          .col-md-4.to-animate
            %h3.section-title Sobre nosotros
            %p Diseñamos y fabricamos en España. Alboomaker pertenece a un grupo que lleva en el sector de la fotografía desde 2010.
            %p
              CONDICIONES GENERALES
              %br
              =link_to "Aquí", legal_path
              podrás leer todos los términos y condiciones de nuestra empresa.
            %p.copy-right
              © 2018 Alboomaker
          .col-md-4.to-animate
            %h3.section-title Atención al cliente
            %p
              Si tienes cualquier duda, puedes contactar con nuestro servicio de atención al cliente enviando un email a
              = mail_to "hello@alboomaker.com"
              o rellenando este formulario.
            %ul.social-media
              %li
                =image_tag ('pay1.png')
          .col-md-4.to-animate
            %h3.section-title Escríbenos
            = form_tag :action => 'send_email', class: "contact-form" do
              .form-group
                = label_tag :sender_name, "Nombre", class: "sr-only"
                = text_field_tag "contact[sender_name]", nil, placeholder: "Nombre", class: "form-control", id: "name"
              .form-group
                = label_tag :sender_email, "Email", class: "sr-only"
                = text_field_tag "contact[sender_email]", nil, placeholder: "Email", class: "form-control", id: "email"
              .form-group
                = label_tag :sender_message, "Mensaje", class: "sr-only"
                = text_area_tag "contact[sender_message]", nil, placeholder: "Mensaje", rows: 7, class: "form-control", id: "message"
              .form-group
                = submit_tag "Enviar", class: "btn btn-send-message btn-md", id: "btn-submit"


:javascript
  $('#close-cart').click(function(){
      $('#shoppigncartcontents').css("display", "none");
    });
  $('#close-proj').click(function(){
      $('#projectlistcontents').css("display", "none");
    });